<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

   	<appender name="TestPx" class="org.apache.log4j.RollingFileAppender">
        <param name="File"   value="${catalina.base}/logs/TestPx.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="4MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
           <param name="ConversionPattern" value="%d\t&lt;%c{1}:%p&gt;\t%m\n"/>
        </layout>
	</appender>
    
    <category name="com.lsi.agile.px.test" additivity="false">
       <priority value="DEBUG" />
       <appender-ref ref="TestPx" />
    </category>


   <root>
       	<priority value="error"/>
       	<appender-ref ref="TestPx" />
   </root>

</log4j:configuration>